/*App Header*/

.app-header {
  background-color: var(--dark-bg);
  padding: 2rem;
  border-bottom: 2px solid var(--indigo-bloom);
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/*Card container*/

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 25px;
  padding: 40px;
}

/*Startup card
*/

.startup-card {
  background-color: var(--card-bg);
  border: 1px solid #333;
  border-radius: 12px;
  padding: 20px;
  position: relative;
  overflow: hidden;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.startup-card:hover {
  transform: translateY(-10px);
  border-color: var(--sky-aqua);
  box-shadow: 0 10px 30px rgba(76, 201, 240, 0.2);
}

.startup-card h2 {
  color: var(--sky-aqua);
  margin-top: 0;
}

.startup-card strong {
  color: var(--neon-pink);
}

/*Search container*/

.search-container {
  display: flex;
  gap: 15px;
  width: 100%;
  max-width: 600px;
}

.search-container input {
  flex: 1;
  padding: 12px 20px;
  border-radius: 30px;
  border: 2px solid var(--electric-sapphire);
  background: #1a1a1a;
  color: white;
  font-size: 1rem;
}

.search-container input:focus {
  border-color: var(--sky-aqua);
  box-shadow:
    0 0 15px var(--sky-aqua),
    inset 0 0 5px var(--sky-aqua);
  outline: none;
}

/*loader*/

.loader-div,
.no-results-p {
  text-align: center;
  margin-top: 50px;
  color: var(--sky-aqua);
  font-size: 1.2rem;
}

/*Reset button*/

.reset-btn {
  background-color: transparent;
  border: 1px solid var(--neon-pink);
  color: var(--neon-pink);
  margin-left: 5px;
}

.reset-btn:hover {
  background-color: var(--neon-pink);
  color: white;
  box-shadow: 0 0 10px var(--neon-pink);
}
