/*Reset button*/

.reset-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: transparent;
  padding: 8px 16px;
  border-radius: 30px;
  border: 1px solid var(--neon-pink);
  color: var(--neon-pink);
  margin-left: 5px;
}

.reset-btn:hover {
  background-color: var(--neon-pink);
  color: white;
  box-shadow: 0 0 10px var(--neon-pink);
}

/*ICONS*/

/*Icon Link*/

.icon-link {
  display: flex;
  align-items: center;
  gap: 8px;
}

.nav-link svg,
.checkbox-label svg {
  display: block;
  transition: all 0.3s ease;
  filter: drop-shadow(0 0 2px var(--sky-aqua));
}

.nav-link.active svg {
  filter: none;
  stroke: var(--dark-bg);
}

.checkbox-label:hover svg {
  filter: drop-shadow(0 0 5px var(--neon-pink));
}
