/* THE CONTAINER */

.map-wrapper {
  padding: 20px;
  border: 2px solid var(--indigo-bloom);
  border-radius: 15px;
  margin: 20px;
  height: 75vh;
  overflow: hidden;
  box-shadow: 0 0 25px rgba(114, 9, 183, 0.4);
  background-color: var(--dark-bg);
}

.leaflet-container {
  height: 100%;
  width: 100%;
  border-radius: 12px;
  background-color: #1a1a1a;
}

/* THE POPUPS: The boxes that appear when clicking a marker */
.leaflet-popup-content-wrapper {
  background-color: var(--card-bg) !important;
  color: white !important;
  border: 1px solid var(--neon-pink) !important;
  border-radius: 12px;
}

.leaflet-popup-tip {
  background-color: var(--card-bg) !important;
  border: 1px solid var(--neon-pink);
}

.leaflet-container a.leaflet-popup-close-button {
  color: var(--sky-aqua) !important;
  font-weight: bold;
  padding: 8px 12px 0 0;
}

/* POPUP CONTENT: Styling the text/links inside the box */
.map-popup h3 {
  margin: 0 0 5px 0;
  color: var(--sky-aqua);
}

.map-popup p {
  margin: 2px 0;
  font-size: 0.9rem;
}

.map-popup a {
  display: inline-block;
  margin-top: 8px;
  color: var(--neon-pink);
  text-decoration: none;
  font-weight: bold;
}

.map-tile-layer {
  transition: opacity 0.8s ease-in-out !important;
}

/* MARKER CLUSTERS: The grouped circles */

/* Small Clusters (Blue) */
.marker-cluster-small {
  background-color: rgba(63, 55, 201, 0.15) !important;
}
.marker-cluster-small div {
  background-color: var(--electric-sapphire) !important;
  color: white !important;
}

/* Medium & Large Clusters (Pink) */
.marker-cluster-medium,
.marker-cluster-large {
  background-color: rgba(63, 55, 201, 0.15) !important;
}
.marker-cluster-medium div,
.marker-cluster-large div {
  background-color: var(--neon-pink) !important;
  color: white !important;
}

/* Common Cluster Text Style */
.marker-cluster div {
  font-weight: bold;
  font-family: inherit;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/*Logos*/

.my-special-marker {
  border-radius: 50%;
  border: 3px solid var(--neon-pink);
  background: white;
  animation: pulse-red 2s infinite;
}

@keyframes pulse-red {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(247, 37, 133, 0.7);
  }
  70% {
    transform: scale(1.1);
    box-shadow: 0 0 0 15px rgba(247, 37, 133, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(247, 37, 133, 0);
  }
}

/* General industry icons */
.industry-icon-marker {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--indigo-bloom);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
